edudata/edudata/local_settings.py 
*.pyc
*.mm
ibe_plots/*  
*.php  
opz*
templates/*

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.source

#####
*.log
*.sql
*.sqlite
