{% extends "research_db/base.html" %}
{% block title %}Lista badań IBE {% endblock %}

{% block content %}

{% if researchproject_list %}
	<table class="table table-stripped table-bordered">
	<thead>
		<tr class="header">
			<th>Nazwa badania</th>
			<th>Daty realizacji projektu</th>
			<th>Słowa kluczowe</th>
			<th>Zespół IBE</th>
			<th>Abstrakt</th>
		</tr>
	</thead>
	{% for researchproject in researchproject_list %}
	<tr>	
        <td><a href="{% url 'researchproject.detail' researchproject.id  %}">{{ researchproject.name}}</a> </td>
                <td>	{{ researchproject.project_start }} - 
			{{ researchproject.project_end }} </td>
		<td>
                {% for keyword in researchproject.research_keywords.all %}
                {{ keyword }}, 
		{% empty %}
		Brak słów kluczowych
		{% endfor %}
		</td>
		<td> {{ researchproject.team.fullname }} </td>
		<td> {% if researchproject.project_description_html %} {{ researchproject.project_description_html|truncatewords:"10"|safe|default:"<i>Brak</i>" }} {% else %} <i>Brak abstraktu</i> {% endif %} </td>
	</tr>
	{% endfor %}
	</table>
{% else %}
	<p>W tej chwili nie ma żadnych zbiorów danych w bazie</p>
{% endif %}

{% endblock %}
